* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
}

.logo {
    width: 148px;
    height: 40px;
}

#nav {
    position: absolute;
    top: 0;
    width: 100%;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1250px;
    padding: 24px 32px;
}

.nav-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
}

.hero {
    background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.9)) , url('./assets/netflix-background.jpg');
    background-size: cover;
    background-position: center;
    height: 989px;
    width: 1905px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.hero h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 18px;
}

.hero p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;
}

.email-form {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: stretch;
    padding-top: 16px;

}

.email-form input {
    padding: 0 16px;
    font-size: 16px;
    width: 420px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    outline: none;
    color: white;
    font-weight: 400;
}

.email-form input:focus {
    border-color: white;
    box-shadow: 0 0 0 2px white;
}

#hero-button {
    background-color: red;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    border-radius: 3px;
}   

/* Trending Now Section */

/* span {
    color: black;
    font-size: 120px;
    position: relative;
    right: 200px;
    bottom: 30px;
    -webkit-text-stroke: 2px white;
} */

/* #reason {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 5%;
} */

/* .reason-item {
    
} */