* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
}

.logo {
    width: 148px;
    height: 40px;
}

#nav {
    position: absolute;
    top: 0;
    width: 100%;
}

#nav a {
    text-decoration: none;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1250px;
    padding: 24px 32px;
}

.nav-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
}

.header {
    position: relative;
    overflow: hidden;
}
.hero {
    background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.9)) , url('./assets/netflix-background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Full viewport height */
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.hero h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 18px;
}

.hero p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;
}

.email-form {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: stretch;
    padding-top: 16px;

}

.email-form input {
    padding: 0 16px;
    font-size: 16px;
    width: 440px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    outline: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    outline: 1px solid grey;
}

.email-form input:focus {
    border-color: white;
    box-shadow: 0 0 0 2px white;
    box-sizing: border-box;
}

#hero-button {
    background-color: red;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    border-radius: 3px;
    line-height: 24px;
    width: 213px;
}   

/* Trending Now Section */

#trending-now {
    position: relative;
    background: black;
    margin-top: -90px; /* overlaps hero, makes background look like it stops */
    padding: 80px 0 40px;
    overflow: hidden;
    margin-bottom: 30px;
}

#trending-now::before {
    content: "";
    position: absolute;
    top: 0; /* positions the halo at the top of the section */
    left: 50%;
    transform: translateX(-50%);
    width: 140%;
    height: 140px; /* controls how wide the curve is */
    border-top: 3px solid rgba(229, 9, 20, 0.95);
    border-radius: 50%; /* makes the arc */
    pointer-events: none;
    z-index: 0; /* ensures the gradient is behind the content */
}

#trending-now::after {
    content: "";
    position: absolute;
    top: -40px; /* pull glow up so it hugs the line */
    left: 50%;
    transform: translateX(-50%);
    width: 140%;
    height: 160px;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), none;
    filter: blur(10px); /* Allows the above radial gradient to be blurred for that glow effect */
    pointer-events: none;
    z-index: 0;
}

.trending-inner {
    max-width: 1250px; /* centers content and limits width */
    margin: 0 auto;
    padding: 0 32px;
    position: relative;
    z-index: 1; /* ensures content is above the gradient background */
}

.trending-header h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

.trending-row {
    display: flex;
    gap: 40px;
    padding: 20px 0;
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    scroll-snap-type: x mandatory;
    padding: 10px 48px; /* Adds padding to the left and right of the row */
}

.trending-row::-webkit-scrollbar {
    display: none; /* Hides the scrollbar for a cleaner look */
}

.trending-card {
    flex: 0 0 auto; /* Prevents cards from shrinking and allows horizontal scrolling */
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Smooth zoom on hover */;
    scroll-snap-align: start; /* Ensures each card adjusts to the start of the scroll container */
}

.trending-card:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.trending-image {
    width: 100%;
    height: 100%;
    display: block;
}

.position {
    position: absolute;
    bottom: 10px;
    left: -20px;
    font-size: 120px;
    font-weight: 900;
    color: black; -webkit-text-stroke: 3px white; /* Outline effect on the number */ 
    line-height: 1;
    z-index: 2;
    pointer-events: none;
    overflow: visible;
}

/* More Reasons to Join Section */

#more-reasons {
    padding: 60px 0;
    color: white;
    margin-bottom: 64px;
}

.more-reasons-inner {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 32px;
}

#more-reasons .more-reasons-title {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;
    padding: 0;
    max-width: none;
}

.more-reasons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
    max-width: none;
}

.more-reasons-tile {
    background: linear-gradient(149deg, rgb(25, 34, 71) 0%, rgb(33, 14, 23) 96.86%);
    padding: 28px 26px;
    border-radius: 16px;
    height: 324px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-start;
    position: relative;
}

.more-reasons-tile h3 {
    font-size: 24px;
    font-weight: 600;
}

.more-reasons-tile p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    box-sizing: border-box;
}

.icon {
    position: absolute;
    bottom: 18px;
    right: 18px;
}
/* #reason {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 5%;
} */

/* .reason-item {
    
} */